<nav class="quicklinks">
    <h3>Our work</h3>
    <ul>
        <li><a href="">Current work</a></li>
        <li><a href="">About the CSS Working Group</a></li>
        <li><a href="">Get involved</a></li>
    </ul>
</nav>