/* patterns/assets/scss/_config.scss */
/* CSS setup here, this file gets included via Sass in styles.scss. Mostly all the custom properties that will then end up in the main stylesheet plus a few mixins used in the components. */
@font-face {
  font-family: 'League Spartan Variable';
  src: url("../fonts/LeagueSpartanVariable.woff2") format("woff2-variations");
  font-weight: 200 900; }

:root {
  --color-background: rgb(255,255,255);
  --color-text: rgb(29,29,29);
  --color-theme: rgb(0,90,156);
  --color-theme-strong: rgb(0,51,102);
  --color-theme-weak: rgb(193,210,231);
  --color-neutral: rgb(68,68,68);
  --color-neutral-inverse: rgb(251,251,251);
  --color-highlight: rgb(0,90,156);
  --color-warn: red;
  --off-black: #1d1d1d;
  --true-black: #000000;
  --off-white: #fbfbfb;
  --true-white: #ffffff;
  --default-font: "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif;
  --special-font: "League Spartan Variable", "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif; }

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(29,29,29);
    --color-text: rgb(251,251,251);
    --color-theme: rgb(70,70,70);
    --color-theme-strong: rgb(41,41,41);
    --color-theme-weak: rgb(0,0,0);
    --color-neutral: rgb(68,68,68);
    --color-neutral-inverse: rgb(251,251,251);
    --color-highlight: rgb(123,186,186); } }

/* components/1-atoms/date.scss */
.singledate {
  border: 1px solid var(--color-theme);
  padding: .2rem .5rem;
  font-size: .8rem;
  color: var(--true-white);
  width: 5em;
  width: min-content;
  text-align: center;
  line-height: 1.4;
  background-color: var(--color-theme-strong);
  font-family: "League Spartan Variable", "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif; }

.singledate .day {
  font-weight: bold;
  font-size: 1.5rem; }

/* components/1-atoms/input.scss */
input[type="text"], input[type="search"], textarea {
  border: 1px solid var(--color-theme);
  border-radius: .2rem;
  font-size: inherit;
  font-family: inherit;
  padding: .2em .5em; }

/* components/1-atoms/submit.scss */
.button,
input[type="submit"] {
  background-color: var(--color-theme-strong);
  color: var(--true-white);
  border: 1px solid var(--off-black);
  border-radius: .2rem;
  font-size: inherit;
  padding: .2em .5em;
  width: min-content; }

/* components/1-atoms/table.scss */
table {
  border-collapse: collapse; }

th, td {
  text-align: left;
  padding: 0.125em 0.5em 0.25em 0.5em;
  line-height: 1; }

caption {
  font-family: var(--special-font);
  line-height: 1;
  font-size: 1.5rem; }

/* components/1-atoms/textarea.scss */
/* components/2-molecules/box/box.scss */
.box {
  padding: 1rem; }

.box *:last-child {
  margin-bottom: 0; }

.box--default {
  border: 4px solid var(--color-neutral); }

.box--warn {
  border: 4px solid var(--color-warn); }

.box--note {
  border: 4px solid var(--color-highlight); }

/* components/2-molecules/form/form.scss */
/* components/2-molecules/news/news.scss */
.news {
  background-color: var(--color-theme-weak);
  color: var(--color-text);
  padding: 1rem; }

.news ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.news li {
  border-bottom: 1px solid var(--color-theme-strong);
  padding: 1rem 0;
  display: flex;
  align-items: center; }

.news li:last-child {
  border-bottom: none; }

.news .singledate {
  order: 2;
  margin: 0 0 0 20px; }

/* components/2-molecules/quicklinks/quicklinks.scss */
.quicklinks {
  background: var(--color-neutral);
  background-image: linear-gradient(var(--color-theme-strong), var(--color-theme));
  color: var(--color-text);
  padding: 0; }

.quicklinks h3 {
  margin: 0;
  padding: 1rem 1rem 0 1rem;
  color: var(--true-white); }

.quicklinks ul {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0; }

.quicklinks li:not(.quicklinks li:first-child) {
  border-top: 1px solid var(--color-theme-strong); }

.quicklinks a:link,
.quicklinks a:visited {
  color: var(--true-white);
  text-decoration: none;
  display: block;
  padding: 0.6em 1rem;
  line-height: 1; }

.quicklinks li:hover {
  color: var(--true-white);
  background: var(--color-theme);
  background: linear-gradient(to left, var(--color-theme-strong), rgba(255, 255, 255, 0.2)); }

/* components/2-molecules/spec-table/spec-table.scss
 * Layout for Specification and Test Suite Status Tables.
 * Needs work, also needs a dark mode.
 */
table.status {
  width: 98%; }

.status td + td {
  min-width: 5em; }

.status a,
.track td a {
  display: block;
  background: transparent;
  color: inherit; }

.status em a,
.track td em a {
  display: inline; }

.status tr a:hover {
  font-weight: bold; }

.status tr:hover {
  background: #eee; }

.status thead > tr:hover {
  background: transparent; }

.track th {
  background: transparent; }

.track td {
  border-bottom: none;
  border-right: solid 1px white;
  text-align: center;
  line-height: 1.3;
  vertical-align: baseline; }

.track caption {
  caption-side: bottom;
  width: auto;
  font-size: smaller;
  font-style: italic;
  text-align: left; }

.track caption a {
  background: transparent;
  color: inherit; }

.profile {
  margin: 1em 0;
  padding: 0.4em;
  border: solid thin; }

.profile h3 {
  margin: 0 0 0.5em;
  font-size: larger; }

.profile h3 :link,
.profile h3 :visited {
  display: block;
  border: none;
  background: transparent;
  color: inherit;
  outline: none; }

.profile dfn {
  font-weight: bold; }

.profile dl {
  margin: 0 0 0 1em; }

.profile dt {
  font-size: smaller; }

.profile dd {
  margin: 0 0 0 1em; }

p + table {
  margin-top: 1.2em; }

table.status {
  margin-left: auto;
  margin-right: auto; }

/* Colors for Specification and Test Suite Status Tables */
.wd,
.lc,
.cr,
.pr,
.rec,
.pa,
.alpha,
.beta,
.rc,
.fin,
.obs {
  text-align: center; }

.pa {
  background: #ffaa00;
  color: black; }

.alpha {
  background: #ffff11;
  color: black; }

.beta {
  background: #bbff00;
  color: black; }

.rc {
  background: #00ff00;
  color: black; }

.fin {
  background: #3399ff;
  color: black; }

.obs {
  background: #c8757b;
  color: black; }

.wd {
  background: #ffff00;
  color: black; }

.lc {
  background: #ffcc00;
  color: black; }

.cr {
  background: #00ff00;
  color: black; }

.pr {
  background: #00ccff;
  color: black; }

.rec {
  background: #3399ff;
  color: black; }

td + td + .wd {
  background: #ffff71;
  color: black; }

td + td + .lc {
  background: #ffe371;
  color: black; }

td + td + .cr {
  background: #71ff71;
  color: black; }

td + td + .pr {
  background: #71e3ff;
  color: black; }

td + td + .rec {
  background: #8ec6ff;
  color: black; }

.test td + td + td + td + td + td + td + td + td {
  background: #fff2f0;
  color: black; }

.test td + td + td + td + td + td + td + td {
  background: #ffe5e1;
  color: black; }

.test td + td + td + td + td + td + td {
  background: #ffd7d2;
  color: black; }

.test td + td + td + td + td + td {
  background: #ffcac3;
  color: black; }

.test td + td + td + td + td {
  background: #ffbdb3;
  color: black; }

.test td + td + td + td {
  background: #ffb0a4;
  color: black; }

.test td + td + td {
  background: #ffa295;
  color: black; }

.test td + td {
  background: #ff9586;
  color: black; }

.test td {
  background: #ff8877;
  color: black; }

.test td.upcoming {
  background: #ddd;
  color: black; }

.spec td.WD {
  background: #ffff00;
  color: black; }

.spec td + td + td + td + td + td + td + td + td + td.WD {
  background: #ffffe3;
  color: black; }

.spec td + td + td + td + td + td + td + td + td.WD {
  background: #ffffc6;
  color: black; }

.spec td + td + td + td + td + td + td + td.WD {
  background: #ffffaa;
  color: black; }

.spec td + td + td + td + td + td + td.WD {
  background: #ffff8e;
  color: black; }

.spec td + td + td + td + td + td.WD {
  background: #ffff71;
  color: black; }

.spec td + td + td + td + td.WD {
  background: #ffff55;
  color: black; }

.spec td + td + td + td.WD {
  background: #ffff39;
  color: black; }

.spec td + td + td.WD {
  background: #ffff1c;
  color: black; }

.spec td + td.WD {
  background: #ffff00;
  color: black; }

.spec td.LC {
  background: #ffcc00;
  color: black; }

.spec td + td + td + td + td + td + td + td + td + td.LC {
  background: #fff9e3;
  color: black; }

.spec td + td + td + td + td + td + td + td + td.LC {
  background: #fff4c6;
  color: black; }

.spec td + td + td + td + td + td + td + td.LC {
  background: #ffeeaa;
  color: black; }

.spec td + td + td + td + td + td + td.LC {
  background: #ffe88e;
  color: black; }

.spec td + td + td + td + td + td.LC {
  background: #ffe371;
  color: black; }

.spec td + td + td + td + td.LC {
  background: #ffdd55;
  color: black; }

.spec td + td + td + td.LC {
  background: #ffd739;
  color: black; }

.spec td + td + td.LC {
  background: #ffd21c;
  color: black; }

.spec td + td.LC {
  background: #ffcc00;
  color: black; }

.spec td.CR {
  background: #00ff00;
  color: black; }

.spec td + td + td + td + td + td + td + td + td + td.CR {
  background: #e3ffe3;
  color: black; }

.spec td + td + td + td + td + td + td + td + td.CR {
  background: #c6ffc6;
  color: black; }

.spec td + td + td + td + td + td + td + td.CR {
  background: #aaffaa;
  color: black; }

.spec td + td + td + td + td + td + td.CR {
  background: #8eff8e;
  color: black; }

.spec td + td + td + td + td + td.CR {
  background: #71ff71;
  color: black; }

.spec td + td + td + td + td.CR {
  background: #55ff55;
  color: black; }

.spec td + td + td + td.CR {
  background: #39ff39;
  color: black; }

.spec td + td + td.CR {
  background: #1cff1c;
  color: black; }

.spec td + td.CR {
  background: #00ff00;
  color: black; }

.spec td.PR {
  background: #00ccff;
  color: black; }

.spec td + td + td + td + td + td + td + td + td + td.PR {
  background: #e3f9ff;
  color: black; }

.spec td + td + td + td + td + td + td + td + td.PR {
  background: #c6f4ff;
  color: black; }

.spec td + td + td + td + td + td + td + td.PR {
  background: #aaeeff;
  color: black; }

.spec td + td + td + td + td + td + td.PR {
  background: #8ee8ff;
  color: black; }

.spec td + td + td + td + td + td.PR {
  background: #71e3ff;
  color: black; }

.spec td + td + td + td + td.PR {
  background: #55ddff;
  color: black; }

.spec td + td + td + td.PR {
  background: #39d7ff;
  color: black; }

.spec td + td + td.PR {
  background: #1cd2ff;
  color: black; }

.spec td + td.PR {
  background: #00ccff;
  color: black; }

.spec td.rec {
  background: #3399ff;
  color: black; }

.spec td.upcoming {
  background: #ddd;
  color: black; }

/* components/3-pagesetup/article-content/article-content.scss */
.page-content {
  grid-column: 2;
  max-width: 50em; }

/* components/3-pagesetup/footer/footer.scss */
.site-footer {
  background-color: var(--color-neutral);
  color: var(--color-neutral-inverse);
  display: grid;
  grid-template-columns: 20px 1fr;
  padding: 1rem 0; }
  @media (min-width: 50em) {
    .site-footer {
      grid-template-columns: 10vw 1fr 10vw; } }

.site-footer > * {
  grid-column: 2; }

/* components/3-pagesetup/header/header.scss */
.local-bar {
  background-color: var(--color-neutral);
  padding: 0 .5rem; }

.local-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end; }

.local-bar a:link,
.local-bar a:visited {
  color: var(--true-white);
  font-size: .8rem;
  display: block;
  padding: .5rem 1rem; }

.has-submenu {
  position: relative; }

.has-submenu > ul {
  display: none; }

.has-submenu:hover ul,
.has-submenu.open ul {
  display: block;
  background-color: var(--color-background);
  border: 1px solid var(--color-neutral);
  position: absolute;
  top: 2.2rem;
  right: 0;
  width: 5em;
  padding: .5em;
  width: max-content;
  box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.75); }

.has-submenu.open ul a {
  color: var(--color-neutral);
  font-weight: bold;
  text-decoration: none;
  font-size: .9rem; }

.global-header {
  border-top: 4px solid var(--true-white);
  border-bottom: 4px solid var(--true-white);
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  background-color: var(--color-theme);
  color: var(--true-white);
  padding: 1rem 0; }
  @media (min-width: 50em) {
    .global-header {
      grid-template-columns: 10vw 1fr;
      gap: 1em; } }

.global-header > * {
  margin: 0 .5rem 0 0; }

a.w3c:link,
a.w3c:visited {
  color: var(--true-white);
  place-self: center; }

a.w3c svg {
  color: inherit;
  fill: currentColor; }

.global-header .css {
  font-family: "League Spartan Variable", "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif;
  line-height: 1;
  font-size: 3.5rem;
  margin: 0;
  padding: 0 0 0 1rem;
  border-left: 1px solid var(--off-white); }

.global-header .w3c {
  background-color: var(--color-theme);
  padding: 0 .5rem; }

.header .main-nav {
  border-top: 1px solid var(--color-neutral-inverse);
  border-bottom: 5px solid var(--color-theme);
  margin-bottom: 20px;
  background-color: var(--color-background);
  padding: .5em 0;
  display: grid;
  justify-items: center;
  align-items: center; }
  @media (min-width: 50em) {
    .header .main-nav {
      grid-template-columns: 10vw 1fr 15em;
      gap: 1em;
      justify-items: start; } }

.header .main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -.6em; }
  @media (min-width: 50em) {
    .header .main-nav ul {
      margin-bottom: 0;
      grid-column: 2;
      justify-content: start; } }

.header .main-nav a {
  display: block;
  padding: .4em .6em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-theme-dark); }

.header .main-nav a:hover {
  text-decoration: underline; }

form.search {
  width: 100%;
  display: flex;
  justify-content: center; }

form.search input[type="search"] {
  width: 60%;
  margin-right: .2rem; }
  @media (min-width: 50em) {
    form.search input[type="search"] {
      width: 10rem; } }

.banner {
  color: var(--true-white);
  background-color: var(--color-theme-strong);
  background-image: radial-gradient(circle closest-corner at 55% 5%, rgba(216, 142, 131, 0) 0%, rgba(216, 142, 131, 0.15) 20%, transparent 20%), radial-gradient(circle closest-corner at 55% 105%, rgba(216, 142, 131, 0) 0%, rgba(216, 142, 131, 0.15) 20%, transparent 20%), radial-gradient(circle closest-corner at 30% 30%, rgba(80, 43, 55, 0) 0%, rgba(123, 101, 108, 0.4) 40%, transparent 40%), radial-gradient(circle closest-corner at 130% 30%, rgba(80, 43, 55, 0) 0%, rgba(123, 101, 108, 0.4) 40%, transparent 40%), radial-gradient(circle closest-corner at -10% 50%, rgba(2, 92, 156, 0) 0%, rgba(2, 92, 156, 0.15) 80%, transparent 80%), radial-gradient(circle closest-corner at 90% 50%, rgba(2, 92, 156, 0) 0%, rgba(2, 92, 156, 0.15) 80%, transparent 80%), radial-gradient(circle closest-corner at 50% 65%, rgba(25, 47, 112, 0) 0%, rgba(25, 47, 112, 0.15) 40%, transparent 40%);
  background-size: 20em 14em;
  background-repeat: repeat;
  border-top: 1px solid #2F4054;
  /* hsl(212, 44%, 33%) */
  border-bottom: 1px solid #071421;
  margin-bottom: 1.5em;
  box-shadow: inset 0 -0.5em 2em #0F2238;
  /* hsl(212, 72%, 22%) */ }
  @media (min-width: 50em) {
    .banner {
      grid-column: 2; } }
  @media (min-width: 40em) {
    .banner {
      padding: 1rem 3rem 1rem 0;
      display: grid;
      grid-template-columns: 20px 1fr 2fr 20px;
      column-gap: 20px; } }

.banner .quicklinks {
  grid-column: 1 / 3; }
  @media (min-width: 50em) {
    .banner .quicklinks {
      margin-left: -10px; } }

.banner h1,
.banner h2,
.banner h3 {
  color: #fff;
  font-family: var(--special-font);
  line-height: 1;
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: inherit;
  font-weight: 500; }

.banner-content {
  font-size: 1.5rem;
  font-family: "League Spartan Variable", "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif;
  line-height: 1.4; }

@media (max-width: 40em) {
  .banner-content {
    margin: 0 10px; } }

.home-content {
  grid-column: 2; }
  @media (min-width: 40em) {
    .home-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px; } }
  @media (min-width: 50em) {
    .home-content {
      grid-template-columns: 1fr 1fr 1fr; } }

.home-content .news {
  grid-column: -2;
  grid-row: 1 / 3;
  align-self: start; }

.home-content h2 a {
  text-decoration: none; }

.home-content h2 {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: .5em; }

.home-content h2::after {
  content: "";
  border-bottom: 1px dotted var(--color-neutral); }

/* components/3-pagesetup/main/main.scss */
.container {
  margin-top: 2em;
  background-color: var(--color-background); }
  @media (min-width: 50em) {
    .container {
      display: grid;
      grid-template-columns: 10vw 2fr 1fr 10vw;
      gap: 1em; } }

/* components/3-pagesetup/section-nav/section-nav.scss */
/* patterns/assets/scss/styles.scss */
html {
  font-family: var(--default-font);
  font-size: 100%;
  line-height: 1.4;
  min-height: 100%;
  color: var(--color-text);
  background: var(--color-background); }

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* header, main, footer - to make the footer stick to the bottom on short pages. */
  min-height: 100vh; }

section,
.section {
  margin: 0 2% 3em; }

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-text); }

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: var(--special-font); }

h2,
h3 {
  text-transform: uppercase;
  color: var(--color-text);
  font-weight: 700;
  line-height: 1; }

p,
ul,
ol,
pre,
h1,
h1,
h3,
h4,
h5 {
  margin: 0 0 1.5em 0; }

dt {
  font-weight: bold;
  margin: 0.4em 0 0.2em; }

a:link, a:visited {
  color: var(--color-highlight); }
