<table>
    <caption>A table caption</caption>
    <thead>
        <tr>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 cell 1</td>
            <td>99.9</td>
            <td>Row 1 cell 3</td>
        </tr>
        <tr>
            <td>Row 2 cell 1</td>
            <td>99.999</td>
            <td>Row 2 cell 3</td>
        </tr>
    </tbody>
</table>