    <footer class="page">
      <address class="vcard">
        <a class="fn url" href="../../People/Bos/">Bert Bos</a>,
        <span class="role">style activity lead</span>
        —
        <small><a href="/Consortium/Legal/ipr-notice#Copyright" rel="Copyright">Copyright</a> © 1994-2010 <a href="/"><acronym title="World Wide Web
        Consortium">W3C</acronym><sup>®</sup></a></small>
      </address>
      <p>Last updated 4 November 2010</p>
    </footer>
