{% import "l10n/" + locale + ".njk" as l10n %}
<header class="page">
  <div class="sitename" lang="en">
    <a class="home w3c" href="https://www.w3.org/">
      <img src="/assets/images/w3c.svg" alt="W3C">
    </a>
    <a class="home csswg" href="/">
      Cascading Style Sheets Working Group
    </a>
  </div>
  
  <nav class="site">
    <ul>
      <li><a href="/">{{ l10n.sections.home }}</a></li>
      <li><a href="/about">{{ l10n.sections.about }}</a></li>
      <li><a href="/learn">{{ l10n.sections.learn }}</a></li>
      <li><a href="/specs">{{ l10n.sections.specs }}</a></li>
      <li><a href="/get-involved">{{ l10n.sections.involved }}</a></li>
    </ul>
    <form class="search">
      <input name="q" type="search">
      <input type="submit" value="{{ l10n.top.search }}">
    </form>
  </nav>
</header>
