<div class="banner">
    <nav class="quicklinks">
        <h3>Our work</h3>
        <ul>
            <li><a href="">What we will link to</a></li>
            <li><a href="">here I do not know</a></li>
            <li><a href="">but I built it anyway</a></li>
        </ul>
    </nav>
    <div class="banner-content">
        <h1>The CSS Working Group</h1>

        <p>The CSS Working Group is responsible for maintaining the CSS standards and developing the future of CSS. On our website you can find out about how CSS is designed, keep up to date with our work, and find out how to contribute to CSS yourself.</p>
    </div>

</div>