{% import "l10n/" + locale + ".njk" as l10n %}
<nav class="section-nav">
    <ul>
        <li><a href="/about/who">{{ l10n.about.who }}</a></li>
        <li><a href="/about/what">{{ l10n.about.what }}</a></li>
    </ul>
</nav>