{% import "l10n/" + locale + ".njk" as l10n %}
<nav class="section-nav">
    <ul>
        <li><a href="/get-involved/browsers">{{ l10n.involved.browsers }}</a></li>
        <li><a href="/get-involved">{{ l10n.involved.testing }}</a></li>
    </ul>
</nav>