{% import "l10n/" + locale + ".njk" as l10n %}

      <nav class="section qlinks">
        <h2><a href="/learn/">{{ l10n.sections.learn }}</a></h2>
        <ul>
          <li><a href="/learn/what">{{ l10n.learn.what }}</a></li>
          <li><a href="/learn/specs-vs-tutorials">{{ l10n.learn.vs }}</a></li>
          <li><a href="/learn/resources">{{ l10n.learn.resources }}</a></li>
        </ul>
      </nav>
