{% import "l10n/" + locale + ".njk" as l10n %}
  <nav class="page">
    <a class="skip-to-content" href="#main">{{ l10n.top.skipToContent }}</a>
    <a class="skip-to-translations" href="#translations">{{ l10n.top.translations }}</a>
  </nav>