/* components/1-atoms/input.scss */

input[type="text"], input[type="search"], textarea {
    border: 1px solid var(--color-theme);
    border-radius: .2rem;
    font-size: inherit;
    font-family: inherit;
    padding: .2em .5em;
}