<div class="news">
    <h3>Latest news</h3>
    <ul>
        <li>
            <h4 class="singledate"><span class="day">23</span> Sep 2019</h4>
            <p>New style! The CSS pages have a new style sheet and an improved structure.</p> 
        </li>
        <li>
            <h4 class="singledate"><span class="day">23</span> Sep 2019</h4>
            <p>New style! The CSS pages have a new style sheet and an improved structure.</p> 
        </li>
    </ul>
</div>