@charset "UTF-8";
/* patterns/assets/scss/_config.scss */
/* CSS setup here, this file gets included via Sass in styles.scss. Mostly all the custom properties that will then end up in the main stylesheet plus a few mixins used in the components. */
@font-face {
  font-family: 'League Spartan Variable';
  src: url("../fonts/LeagueSpartanVariable.woff2") format("woff2-variations");
  font-weight: 200 900; }

:root {
  --color-background: rgb(255,255,255);
  --color-text: rgb(29,29,29);
  --color-theme: rgb(0,90,156);
  --color-theme-strong: rgb(0,51,102);
  --color-theme-weak: rgb(193,210,231);
  --color-neutral: rgb(68,68,68);
  --color-neutral-inverse: rgb(251,251,251);
  --color-highlight: rgb(0,90,156);
  --color-warn: red;
  --off-black: #1d1d1d;
  --true-black: #000000;
  --off-white: #fbfbfb;
  --true-white: #ffffff;
  --default-font: "Helvetica Neue", Helvetica, Arial, Verdana, Geneva, sans-serif;
  --special-font: Georgia, serif; }

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(29,29,29);
    --color-text: rgb(251,251,251);
    --color-theme: rgb(70,70,70);
    --color-theme-strong: rgb(41,41,41);
    --color-theme-weak: rgb(0,0,0);
    --color-neutral: rgb(68,68,68);
    --color-neutral-inverse: rgb(251,251,251);
    --color-highlight: rgb(123,186,186); } }

/**
 * W3C Pro - Base Typography
 * design and initial coding by Divya Manian circa 2011
 * CSS aggressively edited by fantasai
 */
/* General Typography */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif;
  line-height: 1.5; }

aside,
.toc {
  font-size: 0.9em;
  line-height: 1.35; }

section {
  margin: 0 2% 3em; }

h1, .sitename {
  font-size: 1.5em;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6, caption, .sitename {
  font-family: Georgia, serif;
  letter-spacing: 1px;
  line-height: 1; }

h1, h2, h3 {
  text-transform: uppercase; }

p, ul, ol, dd, pre {
  margin: 0 0 1.5em 0; }

li, dd {
  margin-left: 2em; }

/* undo top-level list margin for navigation lists */
nav li {
  margin-left: 0; }

nav li li {
  margin-left: 2em; }

dt {
  font-weight: bold;
  margin: 0.4em 0 0.2em; }

/* Links */
a[href] {
  color: #0C3D5F;
  text-decoration: none; }

a[href]:hover, a[href]:focus {
  text-decoration: underline; }

a > img {
  border: none; }

h1 > a, h2 > a {
  color: inherit; }

/* Time Stamps  */
time {
  text-transform: uppercase;
  font-size: 0.8em; }

/* Asides */
aside {
  background: #C1D2E7;
  color: #444;
  border-radius: 0.5em;
  font-size: 0.9em;
  padding: 1px 0; }

aside > * {
  margin-left: 8%;
  margin-right: 8%; }

@media screen and (min-width: 600px) and (min-width: 40em) {
  aside {
    float: right;
    width: 40%;
    margin-left: 1.5%; } }

@media screen and (min-width: 900px) and (min-width: 60em) {
  aside {
    width: 33%; } }

/* Page Scheme */
html {
  min-height: 100%;
  max-width: 70em;
  margin: 0 auto;
  color: #777;
  background: #DBE2E6;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.08) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.04) 75%, transparent 75%, transparent) repeat, linear-gradient(-45deg, rgba(0, 0, 0, 0.04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.04) 75%, transparent 75%, transparent) repeat, linear-gradient(#025A9A, #fff) repeat-x, #fff;
  background-size: 50% 50%; }

body {
  margin: 0.5em; }

div.page {
  margin: 0.5em 0 2em;
  background: #fff;
  box-shadow: 0 0 1em #0c3d5f; }

main {
  clear: both;
  margin: 1em 1em 3em; }

/* Top Page Navigation */
nav.page {
  color: #eee;
  text-align: right;
  text-align: end; }

nav.page > a {
  color: #eee;
  margin: 0 0.5em; }

nav.page > a:not(:hover):not(:focus) {
  opacity: 0.5; }

.skip-to-content::after {
  content: " 🠺"; }

.skip-to-translations::after {
  content: " 🌐"; }

/* Header */
/* Site Header */
.sitename {
  display: flex;
  line-height: 1;
  background: #eee;
  color: #666;
  position: relative; }

.sitename a {
  display: flex;
  text-decoration: none;
  color: inherit; }

.sitename::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 0.5em #999; }

.sitename > * {
  margin: 0;
  padding: 0.2em;
  display: inline-block;
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
  font-weight: normal;
  text-transform: none; }

/* W3C Logo */
.sitename > a.w3c > img {
  display: block;
  align-self: center;
  padding: 0.3em 0.4em;
  height: 1.3em; }

.sitename > a.w3c {
  background: #005A9C;
  color: white;
  vertical-align: middle; }

/* Cascading Style Sheets */
.sitename > .csswg {
  display: flex;
  align-items: center;
  margin: 0 0.8em; }

/* Section Navigation */
nav.site {
  color: gray;
  margin: 0.937em;
  font-size: 0.8em;
  line-height: 1.875;
  text-align: center; }

nav.site > ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav.site > ul > li {
  display: inline-block; }

nav.site > ul a {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.275em 1em 0.275em 1em; }

nav.site > ul > li.current a {
  background: #eee;
  margin-top: -1em;
  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em; }

/* Search Box */
nav.site > form {
  text-align: center;
  margin: 0.5em; }

/* Very Narrow Screen header styling */
@media screen and (max-width: 20em) {
  .header h1, header h1,
  .header h2, header h2 {
    display: block;
    padding-bottom: 0.2em;
    margin-left: 90px; }
  .header h1 img, header h1 img {
    float: left;
    margin-bottom: 0.2em; } }

/* Widescreen header styling */
@media screen and (min-width: 900px) and (min-width: 60em) {
  header > nav > ul {
    float: left;
    padding: 0;
    margin: 0 0 0.937em;
    padding-left: 7.5em;
    text-align: left; }
  header > nav > form {
    float: right;
    margin: 0.275em 0 0.937em;
    display: inline; } }

/* Page Footer */
footer.page {
  clear: both;
  background: #eee;
  overflow: hidden;
  /* contain floats */
  padding: 1.2em 0 0 1.5em;
  font-size: 0.9em;
  line-height: 1.35; }

footer.page img {
  float: left;
  margin: -1.2em 1em 0 0; }

footer.page > p {
  /* last updated timestamp */
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.875; }

/* Translations */
#translations {
  max-width: 70em;
  /* same as .container */
  text-align: center;
  font-size: 0.8em;
  margin: 1.875em auto;
  line-height: 1.875; }

#translations > a {
  vertical-align: middle;
  display: inline-block;
  width: 12%;
  min-width: 7em;
  line-height: 0.937em; }

#translations a {
  color: inherit; }

#about-translation {
  font-weight: bold; }

#translations h2 {
  display: none; }

/**
 * .qlinks / .banner / .intro Styling
 * .qlinks is a table of contents
 * .intro is highlighted introductory content of a page
 * .banner wraps both into special styling
 */
/* Local Navigation Styling */
.qlinks {
  /* font / line height handled alongside aside in base.scss */
  background: #1876B9;
  background-image: linear-gradient(#025c9c, #1876b9);
  text-shadow: 1px 1px 1px #1A2F47;
  /* hsl(212, 64%, 28%) */
  color: #fff;
  padding: 1.35em 0;
  margin: 0 auto 2em;
  border-radius: 0.5em;
  box-shadow: 4px 2px 3px #1A2F47;
  /* hsl(212, 64%, 28%) */ }

.qlinks h1,
.qlinks h2,
.qlinks h3 {
  margin: 0;
  padding: 0 4%;
  font-weight: normal; }
  @media screen and (min-width: 45em) {
    .qlinks h1,
    .qlinks h2,
    .qlinks h3 {
      padding: 0 6%; } }

.qlinks ul,
.qlinks ol {
  padding: 0 4%;
  margin: 0; }

.qlinks ul {
  list-style-type: none; }

.qlinks ol {
  list-style-position: inside; }

.qlinks ol > li,
.qlinks ul > li {
  border-top: 1px solid #08395E;
  /* hsl(205, 91%, 18%) */ }

.qlinks a[href] {
  color: inherit;
  display: block;
  text-decoration: none;
  line-height: 1; }

.qlinks li > a[href] {
  padding: 0.6em 5%;
  border-top: 1px solid #5E85A1;
  /* hsl(205, 41%, 50%) */ }

.qlinks li:first-child, .qlinks li:first-child a,
.qlinks li:hover, .qlinks li:hover a,
.qlinks li:hover + li, .qlinks li:hover + li a {
  border-top: 1px solid transparent; }

.qlinks a:hover,
.qlinks a:focus {
  margin-left: -2%;
  background: #014A7D;
  /* hsl(205, 99%, 49%) */
  background: linear-gradient(to right, #0192f9, rgba(255, 250, 255, 0)) no-repeat; }

.qlinks li:focus-within, .qlinks li:focus-within a,
.qlinks li:focus-within + li, .qlinks li:focus-within + li a {
  border-top: 1px solid transparent; }

@media screen and (min-width: 45em) {
  /* Wrap around left edge */
  .banner > .qlinks {
    margin: 0.675em 0 2.35em -0.25em;
    padding-top: 0.675em;
    border-left: 1px solid #1C334D;
    /* hsl(212, 64%, 30%) */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .banner > .qlinks ul,
  .banner > .qlinks ol {
    padding: 0 6% 0 2%; }
  /* Wrap around right edge */
  :not(.banner) > .qlinks {
    margin: 0.675em -1.25rem 2.35em 0;
    padding-top: 0.675em;
    border-right: 1px solid #1C334D;
    /* hsl(212, 64%, 30%) */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  :not(.banner) > .qlinks ul,
  :not(.banner) > .qlinks ol,
  :not(.banner) > .qlinks h1 {
    padding: 0 2% 0 6%; }
  :not(.banner) > .qlinks a:hover,
  :not(.banner) > .qlinks a:focus {
    margin-right: -2%;
    background: #014A7D;
    /* hsl(205, 99%, 49%) */
    background: linear-gradient(to left, #0192f9, rgba(255, 250, 255, 0)) no-repeat; } }

/* Banner Styling */
@media screen and (min-width: 45em) {
  .banner {
    margin: 0 -1rem;
    background: #1F436D;
    /* hsl(212, 72, 43) */
    background-image: radial-gradient(circle closest-corner at 55% 5%, rgba(216, 142, 131, 0) 0%, rgba(216, 142, 131, 0.15) 20%, transparent 20%), radial-gradient(circle closest-corner at 55% 105%, rgba(216, 142, 131, 0) 0%, rgba(216, 142, 131, 0.15) 20%, transparent 20%), radial-gradient(circle closest-corner at 30% 30%, rgba(80, 43, 55, 0) 0%, rgba(123, 101, 108, 0.4) 40%, transparent 40%), radial-gradient(circle closest-corner at 130% 30%, rgba(80, 43, 55, 0) 0%, rgba(123, 101, 108, 0.4) 40%, transparent 40%), radial-gradient(circle closest-corner at 10% 50%, rgba(2, 92, 156, 0) 0%, rgba(2, 92, 156, 0.15) 80%, transparent 80%), radial-gradient(circle closest-corner at 90% 50%, rgba(2, 92, 156, 0) 0%, rgba(2, 92, 156, 0.15) 80%, transparent 80%), radial-gradient(circle closest-corner at 50% 65%, rgba(25, 47, 112, 0) 0%, rgba(25, 47, 112, 0.15) 40%, transparent 40%);
    background-size: 20em 14em;
    background-repeat: repeat;
    border-top: 1px solid #2F4054;
    /* hsl(212, 44%, 33%) */
    border-bottom: 1px solid #071421;
    xpadding-top: 1.5em;
    margin-bottom: 1.5em;
    box-shadow: inset 0 -0.5em 2em #0F2238;
    /* hsl(212, 72%, 22%) */ }
  .banner h1, .banner h2, .banner h3 {
    font-weight: normal; } }

/* Banner Layout */
.banner {
  clear: both; }

@media screen and (min-width: 45em) {
  .banner {
    display: flex; }
  .banner > .intro > h1:first-child,
  .banner > .intro > h2:first-child {
    margin: 0.67em 0; }
  .banner > .qlinks {
    width: 40%;
    float: left;
    order: -1;
    align-self: start; }
  .banner > .intro {
    float: right;
    width: 56%;
    margin: 0 2%;
    color: #fff;
    text-shadow: 0 1px 1px #000; }
  .intro p {
    color: #eee; }
  .intro a[href] {
    color: #85C3FF; } }

@media screen and (min-width: 60em) {
  /* More space -> 3 column layout */
  .banner > .qlinks {
    width: 30%; }
  .banner > .intro {
    width: 66%; } }

/* Section Navigation Side-by-Side Layout */
@media screen and (min-width: 45em) {
  main.section {
    display: flex; }
  article.page {
    flex: 1; }
  nav.section {
    float: right;
    width: 15em;
    align-self: baseline; } }

/* Forms */
input {
  padding: .15em .5em .25em .5em;
  border: thin solid #ddc;
  border-radius: 4px; }

a.button,
button,
input[type=submit] {
  background: #025a9a;
  background-image: -moz-linear-gradient(#025A9A, #0C3D5F);
  background-image: -o-linear-gradient(#025A9A, #0C3D5F);
  background-image: -ms-linear-gradient(#025A9A, #0C3D5F);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #025A9A), color-stop(1, #0C3D5F));
  background-image: -webkit-linear-gradient(#025A9A, #0C3D5F);
  background-image: linear-gradient(#025A9A, #0C3D5F);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  text-decoration: none !important;
  display: inline-block;
  padding: 0.2em 1em;
  border-radius: 3px;
  border: 0; }

button,
input[type=submit] {
  padding: 0.2em 1em; }

.button:focus,
.button:active,
button:focus,
button:active,
input[type=submit]:focus,
input[type=submit]:active {
  text-decoration: none;
  background-image: -moz-linear-gradient(#0C3D5F, #025A9A);
  background-image: -o-linear-gradient(top, #0C3D5F, #025A9A);
  background-image: -ms-linear-gradient(top, #0C3D5F, #025A9A);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0C3D5F), color-stop(1, #025A9A));
  background-image: -webkit-linear-gradient(top, #0C3D5F, #025A9A);
  background-image: linear-gradient(top, #0C3D5F, #025A9A); }

/* Tables and Inline Legends */
.legend caption {
  display: block;
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase; }

.legend {
  display: block;
  text-align: center;
  line-height: 2; }

.legend tr {
  display: inline-block;
  line-height: 1; }

table.legend th {
  padding: 0.375em 0.5em;
  display: inline-block; }

table.legend td {
  margin: 0 2em 0 0;
  display: inline-block; }

.legend, .legend tbody, .legend tr, .legend th, .legend td {
  border: none; }
