<div class="home-content">

<section>
    <h2><a href="Learning">Learn</a></h2>
    <p>You can learn CSS from <a href="Learning#online">articles in English</a>
             and <a href="Learning#non-english">other languages</a>, read
             <a href="Learning#books">books about CSS</a>, or attend CSS
             <a href="events">events and workshops</a>.</p>
           <p>Most <a href="software#browsers">Web browsers</a> today support
             CSS, as do <a href="software#other">other software</a>.
             Although you can write CSS with a simple text editor, many
             <a href="software#editors">tools</a> exist to make it even
             easier.</p>
</section>
        <section>
          <h2><a href="Test">Test</a></h2>
          <p>Good test suites drive interoperability. They&rsquo;re a key
            part of making sure Web standards are implemented correctly
            and consistently. The W3C hosts the official
            <a href="Test">CSS Conformance Test Suites</a> here. Many of
            these test suites are still works in progress.
            <p><em>You</em> can help us drive CSS interoperability on the
            Web by <a href="Discuss#test">reporting errors</a> and
            <a href="http://csswg.inkedblade.net/test">contributing new
            or improved tests</a>.</p>
        </section>
        <section>
          <h2><a href="Discuss">Discuss</a></h2>
          <p>If you want to talk CSS, the <a href="http://www.css-discuss.org/">css-discuss mailing list</a>,
            <a href="http://csscreator.com/forum">CSS Creator Web forums</a>, and
            <a href="http://faqs.cs.uu.nl/na-dir/www/stylesheets/newsgroup-faq.html">c.i.w.a.s.
            Usenet newsgroup</a> are all devoted to the practical use of
            Cascading Style Sheets.</p>
            <p>To keep up with the CSS Working Group's latest announcements,
            discussion topics, and resolutions you can follow the
            <a href="/blog/CSS">CSSWG weblog</a>, which is aggregated with
            other CSS-focused streams on <a href="Planet">The Future of
            Style</a>.</p>
            <p>Finally, detailed technical discussion about the CSS
            specifications takes place on the publicly-archived
            <a href="http://lists.w3.org/Archives/Public/www-style/">www-style
            mailing list</a>.
          </p>
        </section>
        <section>
          <h2>Contribute</h2>
          <p>Want to get involved in shaping the future of CSS? Learn
            <a href="Specs/Read">how to read the CSS specs</a> and follow
            the discussion on <a href="Planet">The Future of Style</a>
            and <a href="http://lists.w3.org/Archives/Public/www-style/">www-style</a>.
            You can send feedback on our <a href="current-work">drafts</a>,
            help us <a href="Tracker">track and resolve issues</a>,
            summarize key www-style discussions on the
            <a href="http://csswg.org/">CSSWG wiki</a> and help us
            <a href="Test">expand and improve the test suites</a>.
          </p>
        </section>
{% render '@news' %}
</div>
