<div class="banner">
    {% render '@quicklinks' %}
    <div class="banner-content">
        <h1>The CSS Working Group</h1>

        <p>The CSS Working Group is responsible for maintaining the CSS standards and developing the future of CSS. On our website you can find out about how CSS is designed, keep up to date with our work, and find out how to contribute to CSS yourself.</p>
    </div>

</div>