<form method="post" action="">
    <div>
        <label for="item1">Item 1</label>
        {% render '@input' %}
    </div>

    <div>
        <label for="item2">Item 2</label>
        {% render '@textarea' %}
    </div>
    <div>{% render '@submit' %}</div>
</form>