
   <table class=status>
    <tbody id=completed>
     <tr>
      <th scope=rowgroup>Com­pleted work

      <th scope=col>Sta­tus

      <th scope=col>Up­com­ing

      <th scope=col>Notes

      <th scope=col><abbr title=Summary>ℹ⃝</abbr>

     <tr id=css-2018>
      <td><a class=notranslate href="/TR/css-2018" lang=en>CSS
       Snapshot 2018</a>

      <td class=note><a href="/TR/css-2018">NOTE</a>

      <td class=""><a></a>

      <td><a href="/TR/CSS">Latest stable CSS</a>

      <td><a href="specs#css-2018"
       title="Summary of CSS Snapshot 2018">ℹ⃝</a>

     <tr id=css-2017>
      <td><a class=notranslate href="/TR/css-2017" lang=en>CSS
       Snapshot 2017</a>

      <td class=note><a href="/TR/css-2017">NOTE</a>

      <td class=""><a></a>

      <td>

      <td><a href="specs#css-2017"
       title="Summary of CSS Snapshot 2017">ℹ⃝</a>

     <tr id=css-2015>
      <td><a class=notranslate href="/TR/css-2015" lang=en>CSS
       Snapshot 2015</a>

      <td class=note><a href="/TR/css-2015">NOTE</a>

      <td class=""><a></a>

      <td>

      <td><a href="specs#css-2015"
       title="Summary of CSS Snapshot 2015">ℹ⃝</a>

     <tr id=css-2010>
      <td><a class=notranslate href="/TR/css-2010/" lang=en>CSS
       Snapshot 2010</a>

      <td class=note><a href="/TR/css-2010/">NOTE</a>

      <td class=""><a></a>

      <td>

      <td><a href="specs#css-2010"
       title="Summary of CSS Snapshot 2010">ℹ⃝</a>

     <tr id=beijing>
      <td><a class=notranslate href="/TR/css-beijing/" lang=en>CSS
       Snapshot 2007</a>

      <td class=note><a href="/TR/css-beijing/">NOTE</a>

      <td class=""><a></a>

      <td>

      <td><a href="specs#beijing" title="Summary of CSS Snapshot 2007"
       >ℹ⃝</a>

     <tr id=color>
      <td><a class=notranslate href="/TR/css-color-3/" lang=en>CSS
       Color Level 3</a>

      <td class=rec><a href="/TR/css-color-3/">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/css-color-3/"
       >REC</a>

      <td>

      <td><a href="specs#color" title="Summary of CSS Color Level 3"
       >ℹ⃝</a>

     <tr id=namespace>
      <td><a class=notranslate href="/TR/css-namespaces/" lang=en>CSS
       Namespaces</a>

      <td class=rec><a href="/TR/css-namespaces/">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/css-namespaces/"
       >REC</a>

      <td>

      <td><a href="specs#namespace" title="Summary of CSS Namespaces"
       >ℹ⃝</a>

     <tr id=selectors>
      <td><a class=notranslate href="/TR/selectors-3/" lang=en
       >Selectors Level 3</a>

      <td class=rec><a href="/TR/selectors-3/">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/selectors-3/"
       >REC</a>

      <td>

      <td><a href="specs#selectors"
       title="Summary of Selectors Level 3">ℹ⃝</a>

     <tr id=css21>
      <td><a class=notranslate href="/TR/CSS2/" lang=en>CSS Level 2
       Revision 1</a>

      <td class=rec><a href="/TR/CSS2/">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/css2/">REC</a>

      <td>See <a
       href="/Style/css2-updates/REC-CSS2-20110607-errata.html"
       >Errata</a>

      <td><a href="specs#css21"
       title="Summary of CSS Level 2 Revision 1">ℹ⃝</a>

     <tr id=mediaqueries>
      <td><a class=notranslate href="/TR/css3-mediaqueries" lang=en
       >Media Queries</a>

      <td class=rec><a href="/TR/css3-mediaqueries">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/mediaqueries-3/"
       >REC</a>

      <td>

      <td><a href="specs#mediaqueries"
       title="Summary of Media Queries">ℹ⃝</a>

     <tr id=style-attr>
      <td><a class=notranslate href="/TR/css-style-attr/" lang=en>CSS
       Style Attributes</a>

      <td class=rec><a href="/TR/css-style-attr/">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/css-style-attr/"
       >REC</a>

      <td>

      <td><a href="specs#style-attr"
       title="Summary of CSS Style Attributes">ℹ⃝</a>

     <tr id=fonts>
      <td><a class=notranslate href="/TR/css-fonts-3/" lang=en>CSS
       Fonts Level 3</a>

      <td class=rec><a href="/TR/css-fonts-3/">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/css-fonts-3/"
       >REC</a>

      <td>

      <td><a href="specs#fonts" title="Summary of CSS Fonts Level 3"
       >ℹ⃝</a>

     <tr id=ui>
      <td><a class=notranslate href="/TR/css-ui-3" lang=en>CSS Basic
       User Interface Level 3</a>

      <td class=rec><a href="/TR/css-ui-3">REC</a>

      <td class=rec><a href="https://drafts.csswg.org/css-ui-3/"
       >REC</a>

      <td>

      <td><a href="specs#ui"
       title="Summary of CSS Basic User Interface Level 3">ℹ⃝</a>

    <tbody id=high-prio>
     <tr>
      <th scope=rowgroup>Sta­ble drafts

      <th scope=col>Sta­tus

      <th scope=col>Up­com­ing

      <th scope=col>Notes

      <th scope=col><abbr title=Summary>ℹ⃝</abbr>

     <tr id=background>
      <td><a class=notranslate href="/TR/css-backgrounds-3/" lang=en
       >CSS Backgrounds and Borders Level 3</a>

      <td class=cr><a href="/TR/css-backgrounds-3/">CR</a>

      <td class=pr><a
       href="https://drafts.csswg.org/css-backgrounds-3/">PR</a>

      <td>

      <td><a href="specs#background"
       title="Summary of CSS Backgrounds and Borders Level 3">ℹ⃝</a>

     <tr id=conditional>
      <td><a class=notranslate href="/TR/css3-conditional/" lang=en
       >CSS Conditional Rules Level 3</a>

      <td class=cr><a href="/TR/css3-conditional/">CR</a>

      <td class=cr><a
       href="https://drafts.csswg.org/css-conditional-3/">CR</a>

      <td>

      <td><a href="specs#conditional"
       title="Summary of CSS Conditional Rules Level 3">ℹ⃝</a>

     <tr id=multicol>
      <td><a class=notranslate href="/TR/css-multicol-1/" lang=en>CSS
       Multi-column Layout Level 1</a>

      <td class=wd><a href="/TR/css-multicol-1/">WD</a>

      <td class=cr><a href="https://drafts.csswg.org/css-multicol-1/"
       >CR</a>

      <td>

      <td><a href="specs#multicol"
       title="Summary of CSS Multi-column Layout Level 1">ℹ⃝</a>

     <tr id=values>
      <td><a class=notranslate href="/TR/css-values-3/" lang=en>CSS
       Values and Units Level 3</a>

      <td class=cr><a href="/TR/css-values-3/">CR</a>

      <td class=pr><a href="https://drafts.csswg.org/css-values-3/"
       >PR</a>

      <td>

      <td><a href="specs#values"
       title="Summary of CSS Values and Units Level 3">ℹ⃝</a>

     <tr id=flexbox>
      <td><a class=notranslate href="/TR/css-flexbox-1/" lang=en>CSS
       Flexible Box Layout Level 1</a>

      <td class=cr><a href="/TR/css-flexbox-1/">CR</a>

      <td class=pr><a href="https://drafts.csswg.org/css-flexbox-1/"
       >PR</a>

      <td>

      <td><a href="specs#flexbox"
       title="Summary of CSS Flexible Box Layout Level 1">ℹ⃝</a>

     <tr id=cascade>
      <td><a class=notranslate href="/TR/css-cascade-3/" lang=en>CSS
       Cascading and Inheritance Level 3</a>

      <td class=cr><a href="/TR/css-cascade-3/">CR</a>

      <td class=pr><a href="https://drafts.csswg.org/css-cascade-3/"
       >PR</a>

      <td>

      <td><a href="specs#cascade"
       title="Summary of CSS Cascading and Inheritance Level 3">ℹ⃝</a
       >

     <tr id=writing-modes>
      <td><a class=notranslate href="/TR/css-writing-modes-3" lang=en
       >CSS Writing Modes Level 3</a>

      <td class=cr><a href="/TR/css-writing-modes-3">CR</a>

      <td class=cr><a
       href="https://drafts.csswg.org/css-writing-modes-3/">CR</a>

      <td>

      <td><a href="specs#text-layout"
       title="Summary of CSS Writing Modes Level 3">ℹ⃝</a>

     <tr id=counter-styles>
      <td><a class=notranslate href="/TR/css-counter-styles-3/"
       lang=en>CSS Counter Styles Level 3</a>

      <td class=cr><a href="/TR/css-counter-styles-3/">CR</a>

      <td class=pr><a
       href="https://drafts.csswg.org/css-counter-styles-3/">PR</a>

      <td>

      <td><a href="specs#counter-styles"
       title="Summary of CSS Counter Styles Level 3">ℹ⃝</a>
   </table>