/* Layout for Specification and Test Suite Status Tables. Needs work, also needs a dark mode. */

table.status {
    width: 98%;
  }
  
  .status td + td {
    min-width: 5em;
  }
  
  .status a,
  .track td a {
    display: block;
    background: transparent;
    color: inherit;
  }
  .status em a,
  .track td em a {
    display: inline;
  }
  
  .status tr a:hover {
    font-weight: bold;
  }
  .status tr:hover {
    background: #eee;
  }
  .status thead > tr:hover {
    background: transparent;
  }
  
  .track th {
    background: transparent;
  }
  .track td {
    border-bottom: none;
    border-right: solid 1px white;
    text-align: center;
    line-height: 1.3;
    vertical-align: baseline;
  }
  
  .track caption {
    caption-side: bottom;
    width: auto;
    font-size: smaller;
    font-style: italic;
    text-align: left;
  }
  .track caption a {
    background: transparent;
    color: inherit;
  }
  
  .profile {
    margin: 1em 0;
    padding: 0.4em;
    border: solid thin;
  }
  
  .profile h3 {
    margin: 0 0 0.5em;
    font-size: larger;
  }
  .profile h3 :link,
  .profile h3 :visited {
    display: block;
    border: none;
    background: transparent;
    color: inherit;
    outline: none;
  }
  
  .profile dfn {
    font-weight: bold;
  }
  
  .profile dl {
    margin: 0 0 0 1em;
  }
  .profile dt {
    font-size: smaller;
  }
  .profile dd {
    margin: 0 0 0 1em;
  }
  
  p + table {
    margin-top: 1.2em;
  }
  table.status {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Colors for Specification and Test Suite Status Tables */
  
  .wd,
  .lc,
  .cr,
  .pr,
  .rec,
  .pa,
  .alpha,
  .beta,
  .rc,
  .fin,
  .obs {
    text-align: center;
  }
  
  .pa {
    background: #ffaa00;
    color: black;
  }
  .alpha {
    background: #ffff11;
    color: black;
  }
  .beta {
    background: #bbff00;
    color: black;
  }
  .rc {
    background: #00ff00;
    color: black;
  }
  .fin {
    background: #3399ff;
    color: black;
  }
  .obs {
    background: #c8757b;
    color: black;
  }
  
  .wd {
    background: #ffff00;
    color: black;
  }
  .lc {
    background: #ffcc00;
    color: black;
  }
  .cr {
    background: #00ff00;
    color: black;
  }
  .pr {
    background: #00ccff;
    color: black;
  }
  .rec {
    background: #3399ff;
    color: black;
  }
  
  td + td + .wd {
    background: #ffff71;
    color: black;
  }
  td + td + .lc {
    background: #ffe371;
    color: black;
  }
  td + td + .cr {
    background: #71ff71;
    color: black;
  }
  td + td + .pr {
    background: #71e3ff;
    color: black;
  }
  td + td + .rec {
    background: #8ec6ff;
    color: black;
  }
  
  .test td + td + td + td + td + td + td + td + td {
    background: #fff2f0;
    color: black;
  }
  .test td + td + td + td + td + td + td + td {
    background: #ffe5e1;
    color: black;
  }
  .test td + td + td + td + td + td + td {
    background: #ffd7d2;
    color: black;
  }
  .test td + td + td + td + td + td {
    background: #ffcac3;
    color: black;
  }
  .test td + td + td + td + td {
    background: #ffbdb3;
    color: black;
  }
  .test td + td + td + td {
    background: #ffb0a4;
    color: black;
  }
  .test td + td + td {
    background: #ffa295;
    color: black;
  }
  .test td + td {
    background: #ff9586;
    color: black;
  }
  .test td {
    background: #ff8877;
    color: black;
  }
  
  .test td.upcoming {
    background: #ddd;
    color: black;
  }
  
  .spec td.WD {
    background: #ffff00;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td + td.WD {
    background: #ffffe3;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td.WD {
    background: #ffffc6;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td.WD {
    background: #ffffaa;
    color: black;
  }
  .spec td + td + td + td + td + td + td.WD {
    background: #ffff8e;
    color: black;
  }
  .spec td + td + td + td + td + td.WD {
    background: #ffff71;
    color: black;
  }
  .spec td + td + td + td + td.WD {
    background: #ffff55;
    color: black;
  }
  .spec td + td + td + td.WD {
    background: #ffff39;
    color: black;
  }
  .spec td + td + td.WD {
    background: #ffff1c;
    color: black;
  }
  .spec td + td.WD {
    background: #ffff00;
    color: black;
  }
  
  .spec td.LC {
    background: #ffcc00;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td + td.LC {
    background: #fff9e3;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td.LC {
    background: #fff4c6;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td.LC {
    background: #ffeeaa;
    color: black;
  }
  .spec td + td + td + td + td + td + td.LC {
    background: #ffe88e;
    color: black;
  }
  .spec td + td + td + td + td + td.LC {
    background: #ffe371;
    color: black;
  }
  .spec td + td + td + td + td.LC {
    background: #ffdd55;
    color: black;
  }
  .spec td + td + td + td.LC {
    background: #ffd739;
    color: black;
  }
  .spec td + td + td.LC {
    background: #ffd21c;
    color: black;
  }
  .spec td + td.LC {
    background: #ffcc00;
    color: black;
  }
  
  .spec td.CR {
    background: #00ff00;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td + td.CR {
    background: #e3ffe3;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td.CR {
    background: #c6ffc6;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td.CR {
    background: #aaffaa;
    color: black;
  }
  .spec td + td + td + td + td + td + td.CR {
    background: #8eff8e;
    color: black;
  }
  .spec td + td + td + td + td + td.CR {
    background: #71ff71;
    color: black;
  }
  .spec td + td + td + td + td.CR {
    background: #55ff55;
    color: black;
  }
  .spec td + td + td + td.CR {
    background: #39ff39;
    color: black;
  }
  .spec td + td + td.CR {
    background: #1cff1c;
    color: black;
  }
  .spec td + td.CR {
    background: #00ff00;
    color: black;
  }
  
  .spec td.PR {
    background: #00ccff;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td + td.PR {
    background: #e3f9ff;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td + td.PR {
    background: #c6f4ff;
    color: black;
  }
  .spec td + td + td + td + td + td + td + td.PR {
    background: #aaeeff;
    color: black;
  }
  .spec td + td + td + td + td + td + td.PR {
    background: #8ee8ff;
    color: black;
  }
  .spec td + td + td + td + td + td.PR {
    background: #71e3ff;
    color: black;
  }
  .spec td + td + td + td + td.PR {
    background: #55ddff;
    color: black;
  }
  .spec td + td + td + td.PR {
    background: #39d7ff;
    color: black;
  }
  .spec td + td + td.PR {
    background: #1cd2ff;
    color: black;
  }
  .spec td + td.PR {
    background: #00ccff;
    color: black;
  }
  
  .spec td.rec {
    background: #3399ff;
    color: black;
  }
  
  .spec td.upcoming {
    background: #ddd;
    color: black;
  }
  