<article class="page-content">
    <h1>This is an article</h1>

    <p>We will have all kinds of content in the site. Here is some of it.</p>

    <h2>A level 2 heading</h2>
    
    <p>You can learn CSS from articles in English and other languages, read books about CSS, or attend CSS events and workshops.</p>

    <p>Most Web browsers today support CSS, as do other software. Although you can write CSS with a simple text editor, many tools exist to make it even easier.</p>

    <h3>A level three heading</h3>
    <p>Good test suites drive interoperability. They’re a key part of making sure Web standards are implemented correctly and consistently. The W3C hosts the official CSS Conformance Test Suites here. Many of these test suites are still works in progress.</p>

    <p>You can help us drive CSS interoperability on the Web by reporting errors and contributing new or improved tests.</p>

    <h2>Here is a list</h2>

    {% render '@list' %}

    <h2>And a table</h2>

    {% render '@table' %}

</article>