/* Page Footer */

	footer.page {
		clear: both;
		background: #eee;
		overflow: hidden; /* contain floats */
		padding: 1.2em 0 0 1.5em;
		font-size: 0.9em;
		line-height: 1.35; }
	footer.page img {
		float: left;
		margin: -1.2em 1em 0 0; }
	footer.page > p {
	    /* last updated timestamp */
		margin-bottom: 1em;
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1.875; }
