<nav class="section-nav">
    <ul>
        <li><a href="/learn/what">What Is CSS?</a></li>
        <li><a href="/learn/specs-vs-tutorials">Specs vs. Tutorials</a></li>
        <li><a href="/learn/resources">Resources</a></li>
    </ul>
</nav>