{% set metaTitle = locale.metaTitle %}
{% set metaDescription = locale.metaDescription %}
{% set metaLocale = locale %}
<!doctype html>
<html lang="{{locale}}">
<head>
    <meta charset="utf-8" />
    <title>{{ title }} - {{ metaTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/css/styles.css" rel="stylesheet">

<body>
  {% include "../_includes/top.njk" %}
  <div class="page">
    {% include "../_includes/header.njk" %}
    <main id="main" class="section">
      <article class="page">
        {{ content | safe }}
      </article>
      {% include "../_includes/section-nav-" + section + ".njk" %}
    </main>
    {% include "../_includes/footer.njk" %}
  </div>
  {% include "../_includes/translations.njk" %}
<script type="text/javascript" src="/assets/js/all.js"></script>
