{# Localization for English (en-US) #}
{% set language = "English" %}

{# English is the master language for this 
   If you are adding a variable here, add it to every language file in 
   It's OK if you can't translate; just add it in 
   We can translate it 

   XXX Make a filter that pulls in English automatically, tagged as  #}

{# Header Common #}
{% set top = {
         skipToContent : "Skip to Content" ,
         translations : "Translations" ,
         search : "Search" }
         %}

{# Header Navigation #}
{% set sections = {
         home : "Home" ,
         about : "About" ,
         learn : "Learn CSS" ,
         specs : "CSS Specifications" ,
         involved : "Get Involved" }
         %}

{# About Section Navigation #}
{% set about = {
         who : "Who We Are" ,
         what : "What We Are" }
         %}

{# Get Involved Section Navigation #}
{% set involved = {
         browsers : "Browsers" ,
         testing : "Testing" }
         %}

{# Learn CSS Section Navigation #}
{% set learn = {
         what : "What Is CSS?" ,
         vs : "Specs  Tutorials" ,
         resources : "Resources" }
         %}
