{# Localization for French (fr-FR) #}
{% set language = "français" %}



{# Header Common #}
{% set top = {
         skipToContent : "Skip to Content" ,
         translations : "Traductions" ,
         search : "Cherche" }
         %}

{# Header Navigation #}
{% set sections = {
         home : "Acceuil" ,
         about : "À propos" ,
         learn : "Apprendre CSS" ,
         specs : "Spécifications CSS" ,
         involved : "S’impliquer" }
         %}

{# About Section Navigation #}
{% set about = {
         who : "Qui Nous Sommes" ,
         what : "Ce Que Nous Sommes" }
         %}

{# Get Involved Section Navigation #}
{% set involved = {
         browsers : "Navigateurs" ,
         testing : "Testing" }
         %}

{# Learn CSS Section Navigation #}
{% set learn = {
         what : "Qu’est-ce que CSS?" ,
         vs : "Specs  Tutorials" ,
         resources : "Ressources" }
         %}
