<div class="box box--{{ modifier }}">
    <p>It is sometimes useful to have a little boxout to highlight things. Give your box an additional class of note, or warn to highlight it in different ways.</p>
</div>